body {
    background-color: #6c6c6c;
}

#display {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 50px;
    background-color: #fff;
    border: 1px white solid;
    margin-bottom: 15px;
}

.counter-container,
.score-container {
    display: flex;
    gap: 8px;
    color: white;
    margin-top: 10px;
}